<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- 配置MultipartResolver 用于文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="31457280" />
	</bean>

	<!-- 1. 数据源 : DriverManagerDataSource -->
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="driver">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="driverUrl">
			<value>jdbc:oracle:thin:@127.0.0.1:1521:orcl</value>
		</property>
		<property name="user" value="ndsc_taims" />
		<property name="password" value="aaa" />  
		<!-- 最少保持的空闲连接数 （默认2个） -->
		<property name="prototypeCount" value="2" />
		<!-- 最大活动时间(超过此时间线程将被kill,默认为5分钟 单位毫秒) -->
		<property name="maximumActiveTime" value="90000" />
		<!-- 最小连接数 （默认2个） -->
		<property name="minimumConnectionCount" value="2" />
		<!-- 最大连接数 （默认5个） -->
		<property name="maximumConnectionCount" value="50" />
	</bean>

	<!-- 2. mybatis的SqlSession的工厂: SqlSessionFactoryBean dataSource:引用数据源 MyBatis定义数据源,同意加载配置 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:config/mybatis-config.xml" />
	</bean>

	<!-- 3. mybatis自动扫描加载Sql映射文件/接口 : MapperScannerConfigurer sqlSessionFactory basePackage:指定sql映射文件/接口所在的包（自动扫描） -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	 
	 <!-- 安全机制的配置文件  （可选 -->
	<!-- 
	 <import resource="shiro-config.xml" />
	 -->
	
</beans>
